.profileInfo {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 210px;
}
.profileAvatar {
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 50px;
}
.profileAvatarImg {
    width: 200px;
    height: 200px;
}
.profileInfoDiv {
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
    border: 1px solid black;
}
.myNameDiv {
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
}
.myQuoteDiv {
    height: 25px;
    border: 1px solid black;
}
.myTownDiv {
    height: 25px;
    border: 1px solid black;
}
.myContacts {
    height: 25px;
    border: 1px solid black;
}