.stories {
    margin-top: 100px;
    border: 1pz solid black;
}
 .storyFormDiv {
    border: 1pz solid black;
}
 .storyTextareaDiv {
    border: 1pz solid black;
}
 .storyTextarea {
    border: 1pz solid black;
}
 .storyAddButtonDiv {
    border: 1pz solid black;
}
 .storyAddButton {
    border: 1pz solid black;
}

.loaderDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.posts_content {
    height: 100%;
    width: 100%;
    padding: 16px 20px;
}

.post_search {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
    margin: 20px 0;
    height: 32px;
}

.newPostForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}