.player_container {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    text-align: center;
}

.title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    margin-bottom: 10px;
    width: 100%;

}

.navigation_wrapper {
    height: 10px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 5px;
    background-color:red;
}

.seek_bar {
    border: 1px solid black;
    height: 4px;
    background-color: white;

}

.player_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderDiv {
    width: 100px;
    align-items: center;
}