.container {
  display: inline-grid;
  grid-template-rows: 25px 150px;
  position: relative;
}

.numberdiV {
  margin-top: 20px;
  margin-left: 40px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  width: 150px;
  background-color: rgb(133, 133, 72);
}

.img {
  margin-top: 40px;
  width: 150px;
  height: 150px;
  margin-left: 40px;
}

.searchPhoto {
  width: 80%;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
  margin-top: 20px;
  height: 32px;
}

.inputDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.myPhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.div {
  width: 150px;
  height: 150px;
}

.loaderDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.notFind {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}